.text-color-dashboard-counter-label {
    color: #585353 !important;
}

.text-color-dashboard-counter {
    color: #201A1A !important;
}

.cursor-pointer {
    cursor: pointer;
}

.col-md-2-4 {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

@media (min-width: 768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-md-2-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.dropdown-item {
    border-bottom: 1px solid #ebedf2;
}

.custom-dropdown-menu {
    margin: 0rem auto !important;
    top: 80% !important;
    padding: 0.0rem 0 !important;
    min-width: 14rem !important;
}

.chart-menu-option {
    position: absolute;
    width: 90%;
    background-color: grey;
}

.chart-menu:hover {
    cursor: pointer;
}

.chart-menu {
    padding: 3px 3px;
    background-color: #F3F2F2;
    border-radius: 6px;
}

.custom-table td {
    vertical-align: inherit;
    border-bottom: 1px solid #ebedf2 !important;
    border-top: 0px solid #ebedf2 !important;
}

.leave-type {
    padding: 5px 10px !important;
    border-radius: 6px !important;
}

.leave-full {
    background-color: #05bb6c !important;
}

.leave-half {
    background-color: #215679 !important;
}

.custom-dropdown-menu {
    display: none;
    /* Initially hide the dropdown menu */
}

.show-custom-dropdown {
    display: block;
    /* Show the dropdown menu */
}

.progress .progress-bar {
    border-radius: 10px;
}

.progress {
    border-radius: 10px;
}

#fees_details_chart {
    display: flex;
    justify-content: space-around;
}


.zoom-img {
    overflow: hidden;
}

.zoom-img {
    transition: all 0.5s ease;
}

.zoom-img:hover {
    transform: scale(0.9);
    object-fit: fill;
}

.cache-clear {
    margin: auto 0px !important;
}